<html ng-app="ArcExtension">

<head>
    <title>Arc Extension Bottom-up Parsing Algorithm</title>

    <!-- build:js js/app.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="arcControllers.js"></script>
    <!-- endbuild -->

    <!-- build:css css/app.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- endbuild -->
</head>

<body ng-controller="algorithmCtrl">

    <div id="errorModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Errors while parsing the Lexicon and the grammar</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-11">
                            <p>
                                Please fix the errors below and try again
                            </p>
                            <div class="alert alert-danger" ng-repeat="e in errors">{{e}}</div>
                        </div>
                        <div class="col-md-1">
                            <br>
                            <i class="glyphicon glyphicon-lg exclamation-sign" style="font-size:4em;color:darkred"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="topContainer" class="container-fluid">

        <h1>Arc Extension Bottom-up Chart Parsing Algorithm</h1>


        <dl id="studentData" class="dl-horizontal">
            <dt>Student Name</dt>
            <dd>Bishoy Louka</dd>
            <dt>Student ID</dt>
            <dd>800112112</dd>
            <dt>Supervised by</dt>
            <dd>Prof.Dr. Ahmed Rafea</dd>

        </dl>
        <hr>
        <div class="row">
            <form class="form form-horizontal">
                <div class="form-group">
                    <label for="sentence" class="control-label col-md-2">The input sentence
                    </label>
                    <div class="col-md-10">
                        <input type="text" id="sentence" class="form-control " ng-model="parseSentence">
                    </div>
                </div>
            </form>

        </div>
        <div class="row">
            <div id="grammar" class="col-md-2">
                <div class="control-box" class="col-md-2" data-spy="affix" data-offset-top="205">
                    <a class="control-box-button" ng-click="reset()">
                        <i class="glyphicon glyphicon-lg glyphicon-erase"></i>
                        <span>Reset</span>
                    </a>
                    <a class="control-box-button" href="#b" ng-click="runAll()">
                        <i class="glyphicon glyphicon-lg glyphicon-fast-forward"></i>
                        <span>Finish</span>
                    </a>
                    <a class="control-box-button" href="#b" ng-click="runStep()">
                        <i class="glyphicon glyphicon-lg glyphicon-step-forward"></i>
                        <span>Single Step</span>
                    </a>
                </div>
                <h4>Grammar rules here</h4>
                <!-- Grammer rules from the book page 53 (page 72 in the PDF) -->
                <textarea rows="9" ng-model="rawGrammar"></textarea>
                <h4>Lexicon here</h4>
                <!-- Lexicon from the book page 56 (page 75 in the PDF) -->
                <textarea rows="9" ng-model="rawLexicon">
                </textarea>

            </div>
            <div id="algorithmSteps" class="col-md-10">
                <div class="step" ng-repeat="step in steps">
                    <div class="row">
                        <ol>
                            <li ng-repeat="alert in step.alerts">{{alert}}</li>
                        </ol>
                    </div>
                    <div>
                        <div class="col-md-6 well">
                            <h4><strong>Chart</strong></h4>
                            <table class="SentenceTable">
                                <tr ng-repeat="arc in step.chart|orderBy: '-positionTo-positionFrom'" ng-show="arc.dotIndex==arc.consequence.length">
                                    <td class="HiddenTd" ng-repeat="l in leadingTrs(arc.positionFrom) track by $index"></td>
                                    <td colspan="{{arc.positionTo-arc.positionFrom}}">{{arc.premise}}</td>
                                    <td class="HiddenTd" ng-repeat="t in trailingTrs(arc.positionTo)  track by $index"></td>
                                </tr>
                                <tr>
                                    <td ng-repeat="token in step.processedTokens track by $index">{{token}}</td>
                                    <td class="HiddenTd" ng-repeat="t in trailingTrs(step.processedTokens.length+1) track by $index"></td>
                                </tr>
                            </table>
                            <h5><strong>Completed</strong></h5>

                            <div ng-repeat="arc in step.chart track by $index">
                                <div ng-show="arc.dotIndex==arc.consequence.length">
                                    <span>{{arc.premise}}</span>
                                    <i class="glyphicon glyphicon-arrow-right"></i>
                                    <span><span ng-repeat="csq in arc.consequence">
                                    
                                        {{csq}}
                                    </span>
                                    </span>
                                    <span>
                            from
                            {{arc.positionFrom}}
                                to 
                              {{arc.positionTo}}  
                            </span>
                                </div>
                            </div>

                            <h5><strong>History</strong></h5 >

                        <div ng-repeat="arc in step.chart track by $index" ng-show="arc.dotIndex<=arc.consequence.length">
                            <div ng-show="arc.dotIndex<arc.consequence.length">
                                <span>{{arc.premise}}</span>
                                <i class="glyphicon glyphicon-arrow-right"></i>
                                <span><span ng-repeat="csq in arc.consequence">
                                     <i ng-show="arc.dotIndex>0 && arc.dotIndex==$index" class="glyphicon glyphicon-asterisk"></i>
                                        {{csq}}
                                    </span>
                                </span>
                                <span>
                            from
                            {{arc.positionFrom}}
                                to 
                              {{arc.positionTo}}  
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 well">
                        <h4>Active Arcs</h4>
                        <div ng-repeat="arc in step.arcs" ng-show="arc.dotIndex<arc.consequence.length">
                            <span>{{arc.premise}}</span>
                            <i class="glyphicon glyphicon-arrow-right"></i>
                            <span><span ng-repeat="csq in arc.consequence">
                                        <i ng-show="arc.dotIndex>0 && arc.dotIndex==$index" class="glyphicon glyphicon-asterisk"></i>
                                        {{csq}}
                                    </span>
                            <i ng-show="arc.dotIndex>0 && arc.dotIndex==arc.consequence.length" class="glyphicon glyphicon-asterisk"></i>
                            </span>
                            <span>
                            from
                            {{arc.positionFrom}}
                                to 
                              {{arc.positionTo}}  
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 well">
                        <h4>Agenda</h4>

                        <div ng-repeat="agendaItem in step.agenda.agendaItems track by $index">
                            <div ng-class="{strike:agendaItem.isUsed}"><strong>{{agendaItem.identifier}}:{{agendaItem.category}} from {{agendaItem.positionFrom}} to {{agendaItem.positionTo}}</strong></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div id="b"></div>
                <div ng-show="done===true" class="row">
                    <h2>Q.E.D , No More steps</h2>
                </div>



            </div>
        </div>

    </div>





</body>




</html>