dt {
	text-align: left;
}
@media (min-width: 768px) {
	.dl-horizontal dt {
		text-align: left;
	}
}

.SentenceTable td.HiddenTd
{
    border:none;
}

.SentenceTable td
{
    padding: 5px;
    border: 2px solid black;
}

.control-box
{
    display: block;
    border: 2px solid green;
    border-radius: 5px;
    padding: 5px;
    white-space: nowrap;
    background: white;
    z-index: 50;
}

.control-box.affix
{
    top: 20px;
}

.control-box,.control-box *
{
    font-size: 12px;
    color: green;
}
.control-box-button,.control-box-button:hover
{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.control-box a.control-box-button+a.control-box-button
{
    margin-left:0.6em; 
}

.control-box-button i
{
    padding-top: 0.23em;
    padding-bottom: auto;
    text-align: center;
    color: green;
    border-radius: 50%;
    border: 0.03em solid;
    height: 1.7em;
    width: 1.7em;
    font-size: 2em;
}


.control-box-button span
{   
    display:block;
}

.strike {
    text-decoration: line-through;
}

#algorithmSteps .row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#sentence {}


